@font-face {
    font-family: Poppins;
    src: url(./Poppins-Regular.ttf);
}
.myfont-Poppins {
    font-family: Poppins;
}
@font-face {
    font-family: Helveticaa;
    src: url(./Helvetica.woff);
}
.myfont-Helvetica {
    font-family: Helveticaa;
}
p,
button,
button > span,
section,
span {
    font-family: Poppins;
}